* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

@font-face {
    font-family: "louis_george_caf";
    src: url("../louis_george_caf/Louis\ George\ Cafe\ Italic.ttf");
}

@font-face {
    font-family: "louis_george_caf_Bold";
    src: url("../louis_george_caf/Louis\ George\ Cafe\ Bold\ Italic.ttf");
}

@font-face {
    font-family: "louis_george_caf_Light";
    src: url("../louis_george_caf/Louis\ George\ Cafe\ Light.ttf");
}

/* Cuando la pantalla es <= al tamaño definido, los ítems del menú se ven
 afectados por lo que esta definido*/

@media (max-width: 760px) {
    nav ul {
        padding: 0;
        /* flex-direction: column;*/
    }

    nav ul li a {
        font-size: small;
    }
}

/* Configura las grillas para cada sección de la página */

.container {
    display: grid;
    /* Se define cuantas filas y el tamaño(3 filas)/Cuantas columnas y el tamaño*/
    grid-template: 25vh 450vh 20vh / 100%;
    /*Se definen las áreas*/
    grid-template-areas: "header"
        "contenido"
        "footer";
    height: 100vh;
    /*Separación entre las filas y las columnas*/
    gap: 1.5px;
}

.header {
    grid-area: header;
}

.contenido {
    grid-area: contenido;
    background-color: #FBF6E7;
    background-color: #FBF6E7;
}

footer {
    grid-area: footer;
}

.titulo {
    text-align: center;
}

.iconos {
    display: flex;
    justify-content: space-evenly;
}

/* Configura las grillas para la barra del navegador */
nav {
    display: grid;
    grid-template: 100% / 30% 70%;
    grid-template-areas: "logo menu";
    height: 100%;
}

.logo {
    grid-area: logo;
}

/* Proporciones del logo */
.logo img {
    display: flex;
    height: 90%;
    width: 80%;
    object-fit: contain;
}

/* Ítems del menú */
.menu {
    grid-area: menu;
    display: flex;
    align-items: center;
    align-content: space-between;
      letter-spacing: 1px;
}

.menu li {
    list-style: none;
    padding-left: 5rem;
}

a {
    text-decoration: none;
    font-size: 2rem;
    color: rgb(121, 7, 121);
    font-family: "louis_george_caf_Bold";
}

/* Configura las grillas para cada sección*/
.secciones {
    display: grid;
    grid-template: 83vh 80vh 80vh 80vh / 40% 60%;
    grid-template-areas: "main main"
        "seccion1 img-dulces"
        "seccion2 img-salados"
        "seccion3 img-boxes"
        "grilla-formulario grilla-formulario";
    gap: 10px;
    height: 100vh;
}

/* Grilla del formulario */
.grilla-formulario {
    display: grid;
    grid-template: 80vh / 20% 60% 20%;
    grid-template-areas: "col1 seccion4 col2";
    gap: 10px;
    height: 100vh;
    grid-area: grilla-formulario;
}

.col1 {
    grid-area: col1;
}

/* Grilla del formulario */
.grilla-formulario {
    display: grid;
    grid-template: 80vh / 20% 60% 20%;
    grid-template-areas: "col1 seccion4 col2";
    gap: 10px;
    height: 100vh;
    grid-area: grilla-formulario;
}

.col1 {
    grid-area: col1;
}

.col2 {
    grid-area: col2;
}

.seccion4 {
    grid-area: seccion4;
}

/* "seccion4 formulario" */

.main {
    grid-area: main;
}

/* Define el tamaño de las fotos del carrusel */
.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.carrusel div {
    height: 100%;
    width: 100%;
}

/* Proporciones de la imagen del carrusel */
.centrar {
    margin: auto;
    margin-top: 4.5rem;
    display: block;
}

.seccion1 {
    grid-area: seccion1;
}

.img-dulces {
    grid-area: img-dulces;
}

/* Define el tamaño de las fotos en cada sección */
.img-secciones img {
    width: 85%;
    height: 95%;
    object-fit: contain;
    transition: transform 0.5s;
}

.img-secciones img:hover {
    box-shadow: 0px 10px 15px 5px rgba(182, 182, 182, 1.5);
    transform: translateY(-10px);
    border-radius: 15px;
    background-color: white;
}

.seccion2 {
    grid-area: seccion2;
}

.img-salados {
    grid-area: img-salados;
}

.seccion3 {
    grid-area: seccion3;
}

.img-boxes {
    grid-area: img-boxes;
}

/* Estilo a cada título de las secciones */
.titulo h1 {
    text-align: justify;
    margin-left: 1.5rem;
    margin-top: 8rem;
    letter-spacing: 1px;
    font-family: "louis_george_caf";
}

/* Estilo al texto de cada sección */
.texto-secciones p {
    text-align: justify;
    margin-left: 3rem;
    margin-top: 1rem;
    line-height: 2.5rem;
    font-family: "louis_george_caf_Light";
    font-size: 2rem;
    letter-spacing: 1px;
}

/* Estilo a título de contacto y redes */
.titulo h2 {
    display: inline;
    letter-spacing: 1px;
    font-family: "louis_george_caf";
    font-size: 2.5rem;
    margin: 1rem;
    color: rgb(121, 7, 121);
}

.fa-envelope {
    color: rgb(121, 7, 121);
}

a:hover {

    color: rgb(255, 149, 167);
}

/* formulario */
.form-label {
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-family: "louis_george_caf";
}

.btn {
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-family: "louis_george_caf";
}

/* color del boton formulario */
#botonEnvio:hover {
    color: black;
    background-color: rgb(121, 7, 121);
}

/* Color del borde casilla formulario */
.form-control:focus {
    border-color: rgb(121, 7, 121);
    box-shadow: none;
}

/* carrusel */

.pic-ctn {
    width: 100vw;
    height: 200px;
}

@keyframes display {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }

    10% {
        transform: translateX(0);
        opacity: 1;
    }

    20% {
        transform: translateX(0);
        opacity: 1;
    }

    30% {
        transform: translateX(-200px);
        opacity: 0;
    }

    100% {
        transform: translateX(-200px);
        opacity: 0;
    }
}

.pic-ctn {
    position: relative;
    width: 50vw;
    height: 150px;
    margin-top: 4vh;
}

.pic-ctn>img {
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    opacity: 0;
    animation: display 10s infinite;
}

img:nth-child(2) {
    animation-delay: 2s;
}

img:nth-child(3) {
    animation-delay: 4s;
}

img:nth-child(4) {
    animation-delay: 6s;
}

img:nth-child(5) {
    animation-delay: 8s;
}

/* .seccion4{
    display: flex;
    flex-direction: column;
    background-color: #FBF6E7 ;
    text-align: center;
}


.s4form1 input{
    background-color: #FBF6E7 ;
    border: none;
    outline: none;
    border-bottom: 2px solid pink;
}

.s4form2 input{
    background-color: #FBF6E7 ;
    border: none;
    outline: none;
    border-bottom: 2px solid pink;
}

.s4form3 input{
    background-color: #FBF6E7 ;
    border: none;
    outline: none;
    border-bottom: 2px solid pink;
}

.s4form4 input{
    background-color: #FBF6E7 ;
    border: none;
    outline: none;
    border-bottom: 2px solid pink;
}

.s4form5 textarea {
    border: 2px solid pink;
    border-radius: 10px;
    
}

.s4form6 input{
    width: 120px;
    height: 40px;
    border: none;
    outline: none;
    background-color: pink;
    color: black;
    font-size: 12px;
    font-weight: 800px;
    border-radius: 10px;


} */