* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    background-color: #FBF6E7;
}

/* Fuentes de la página */

 @font-face {
    font-family: "louis_george_caf";
    src: url("./louis_george_caf/Louis\ George\ Cafe\ Italic.ttf");
}

@font-face {
    font-family: "louis_george_caf_Bold";
    src: url("./louis_george_caf/Louis\ George\ Cafe\ Bold\ Italic.ttf");
}

@font-face {
    font-family: "louis_george_caf_Light";
    src: url("./louis_george_caf/Louis\ George\ Cafe\ Light.ttf");
} 

/*  Contenedor general de la página */

.container {
    max-width: 1100px;
    margin: auto;
}

/* Títulos de secciones */

h2 {
    font-size: 2.5em;
    color: rgb(199, 43, 108);
    text-align: center;
    font-family: "louis_george_caf";
    letter-spacing: 1px;
}

/* Títulos de última sección */

h3 {
    font-size: 2rem;
    color: rgb(199, 43, 108);
    font-family: "louis_george_caf";
    letter-spacing: 1px;
}

/* Contenedor del menú */

.nav-container {
    display: flex;
    flex-direction: column;
}

/*  Barra de menú  */

nav {
    width: 100%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

/*  Contenedor del logo  */

.logo-container {
    max-width: 50%;
    max-height: 50%;
}

/*  Tamaño de la imagen/ logo  */

.logo-container img {
    width: 100%;
    height: 100%;
    margin-left: 50%;
}

/*  Color de fondo del menú*/

header {
    background-color: white;
}

/*  Lista del menú */

ul {
    list-style: none;
    padding: 0;
    margin: 0 50%;
}

header ul {
    display: flex;
    justify-content: space-evenly;
}

ul li {
    margin: 4px 15px;
}

a {
    text-decoration: none;
    color: rgb(199, 43, 108);
    font-size: 2rem;
    font-family: "louis_george_caf_Bold";
}

a:hover {
    color: rgb(255, 149, 167);
}

/*  Contenedor del carrusel */

.carrousel {
    margin-top: 90px;
    margin-bottom: 90px;
    height: 95vh;
    display: none;
}

/*  Contenedor de las imagenes del carrusel  */

.pic-ctn {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 4vh;
}

.pic-ctn>img {
    animation: none;
}

/*  Clase que se aplica a todas las secciones  */

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/*  Párrafos de cada sección  */

.section p {
    padding: 0 10%;
    text-align: justify;
    font-family: "louis_george_caf_Light";
    font-size: 1.6rem;
    letter-spacing: 1px;
    line-height: 2rem;
    color: rgb(15, 15, 15);
}

.section-image {
    padding: 0 20%;
}

/*  Imagenes de cada sección  */

.section-image img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.section-form {
    padding-bottom: 50px;
}

/*  Input de cada sección del formulario  */

input {
    display: block;
    font-family: "louis_george_caf";
    font-size: 0.875em;
    width: 470px;
    height: 40px;
    padding: 0px 15px 0px 15px;
    margin: 5px auto;
    background: transparent;
    outline: none;
    color: rgb(199, 43, 108);
    font-size: 1.5rem;
    letter-spacing: 1px;
    border: solid 1px rgb(121, 7, 121);
    border-radius: 7px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

/*  Colores del formulario  */

input:hover {
    background: rgb(255, 232, 236);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill {
    -webkit-text-fill-color: rgb(199, 43, 108);
}

#submit {
    color: rgb(199, 43, 108);
}

#submit:hover {
    cursor: pointer;
}

#cpButton {
    color: rgb(199, 43, 108);
}

#cpButton:hover {
    cursor: pointer;
}

#zone {
    font-size: 1rem;
}

textarea {
    display: block;
    margin: 5px auto;
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    background: transparent;
    outline: none;
    color: rgb(199, 43, 108);
    font-family: "louis_george_caf";
    font-size: 1.5rem;
    letter-spacing: 1px;
    border: solid 1px rgb(121, 7, 121);
    border-radius: 7px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
    background: rgb(255, 232, 236);
}

.section-options {
    background-color:rgb(240, 238, 238);
    height: 35vh;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
}

.section-options ul {
    margin: 0;
}

.section-options a {
    font-size: 2rem;
}

.section-options-image {
    max-width: 150px;
    max-height: 100px;
}

.section-options-image img {
    width: 100%;
    height: 100%;
    margin-top: 70px;
}

.media-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*  Píe de página  */

footer {
    display: flex;
    text-align: center;
    background-color: rgb(50, 50, 50);
    height: 20vh;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0;
    color: white;
    font-size: 2rem;
    letter-spacing: 1px;
    font-family: "louis_george_caf";
}

.fa-envelope {
    color: rgb(199, 43, 108);
}

/*  Cortes de pantalla */

/*Intermedio*/
@media screen and (min-width: 768) {
    h2 {
        color: rgb(121, 7, 121);
    }

    h3 {
        color: rgb(121, 7, 121);
    }

    a {
        color: rgb(121, 7, 121);
    }

    .fa-envelope {
        color: rgb(121, 7, 121);
    }

    input {
        color: rgb(121, 7, 121);
    }

    textarea {
        color: rgb(121, 7, 121);
    }

    #submit {
        color: rgb(121, 7, 121);
    }
}

/*Escritorio*/
@media screen and (min-width: 1100px) {
    .logo-container {
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    }

    .nav-container {
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
    }

    nav {
        display: flex;
        align-content: center;
        box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.3);
    }

    ul {
        display: flex;
        flex-direction: row;
        margin: auto 2px auto auto;
    }

    ul li {
        margin: auto 10px;
        padding: 20px;
    }

    .logo-container {
        width: 30%;
        height: 30%;
    }

    .section {
        flex-direction: row;
        margin-bottom: 50px;
    }

    .section-text {
        width: 50%;
    }

    .section-image {
        padding: 0;
        max-width: 50%;
        max-height: 50%;
    }

    #imgDulce {
        content: url("./img/torta.jpg");
    }

    #imgSalado {
        content: url("./img/pan.jpg");
    }

    #imgBoxes {
        content: url("./img/caja.jpg");
    }

    .fa-envelope {
        color: black
    }

    .section-options {
        justify-content: space-around;
        margin-bottom: 0;
    }

    .section-options ul {
        flex-direction: column;
    }

    .section-options ul li {
        padding: 5px;
    }

    .carrousel {
        margin-top: 90px;
        margin-bottom: 90px;
        height: 95vh;
        display: block;
    }

    @keyframes display {
        0% {
            transform: translateX(100px);
            opacity: 0;
        }

        10% {
            transform: translateX(0);
            opacity: 1;
        }

        20% {
            transform: translateX(0);
            opacity: 1;
        }

        30% {
            transform: translateX(-100px);
            opacity: 0;
        }

        100% {
            transform: translateX(-100px);
            opacity: 0;
        }
    }

    .pic-ctn>img {
        width: 80%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 10%;
        opacity: 0;
        animation: display 10s infinite;
    }

    img:nth-child(2) {
        animation-delay: 2s;
    }

    img:nth-child(3) {
        animation-delay: 4s;
    }

    img:nth-child(4) {
        animation-delay: 6s;
    }

    img:nth-child(5) {
        animation-delay: 8s;
    }
}