* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #FBF6E7;
}

@font-face {
    font-family: "louis_george_caf";
    src: url("louis_george_caf/Louis\ George\ Cafe\ Italic.ttf");
}

@font-face {
    font-family: "louis_george_caf_Bold";
    src: url("louis_george_caf/Louis\ George\ Cafe\ Bold\ Italic.ttf");
}

@font-face {
    font-family: "louis_george_caf_Light";
    src: url("louis_george_caf/Louis\ George\ Cafe\ Light.ttf");
}

/* Cuando la pantalla es <= al tamaño definido, los ítems del menú se ven
 afectados por lo que esta definido*/

@media (max-width: 760px) {
    nav ul {
        padding: 0;
        /* flex-direction: column;*/
    }

    nav ul li a {
        font-size: small;
    }
}

/* Configura las grillas para cada sección de la página */

.container {
    display: grid;
    /* Se define cuantas filas y el tamaño(3 filas)/Cuantas columnas y el tamaño*/
    grid-template: 25vh 420vh 20vh / 100%;
    /*Se definen las áreas*/
    grid-template-areas: "header"
        "contenido"
        "footer";
    height: 100vh;
    /*Separación entre las filas y las columnas*/
    gap: 1.5px;
}

.header {
    grid-area: header;
}

.contenido {
    grid-area: contenido;
    background-color: #FBF6E7;
}

footer {
    grid-area: footer;
    background-color: white;
}

.titulo {
    text-align: center;
}

.iconos {
    display: flex;
    justify-content: space-evenly;
}

/* Configura las grillas para la barra del navegador */
nav {
    display: grid;
    grid-template: 100% / 30% 70%;
    grid-template-areas: "logo menu";
    height: 100%;
    background-color: white;
}

.logo {
    grid-area: logo;
}

/* Proporciones del logo */
.logo img {
    display: flex;
    height: 90%;
    width: 80%;
    object-fit: contain;
}

/* Ítems del menú */
.menu {
    grid-area: menu;
    display: flex;
    align-items: center;
    align-content: space-between;
    letter-spacing: 1px;
}

.menu li {
    list-style: none;
    padding-left: 5rem;
}

a {
    text-decoration: none;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.7);
    font-family: "louis_george_caf_Bold";
}

/* Configura las grillas para cada sección*/
.secciones {
    display: grid;
    grid-template: 83vh 80vh 80vh 80vh / 40% 60%;
    grid-template-areas: "main main"
        "seccion1 img-dulces"
        "seccion2 img-salados"
        "seccion3 img-boxes"
        "grilla-formulario grilla-formulario";
    gap: 10px;
    height: 100vh;
}

/* Grilla del formulario */
.grilla-formulario {
    display: grid;
    grid-template: 80vh / 20% 60% 20%;
    grid-template-areas: "col1 seccion4 col2";
    gap: 10px;
    height: 100vh;
    grid-area: grilla-formulario;
}

.col1 {
    grid-area: col1;
}

.col1 {
    grid-area: col1;
}

.col2 {
    grid-area: col2;
}

.seccion4 {
    grid-area: seccion4;
}

/* "seccion4 formulario" */

.main {
    grid-area: main;
}

/* Define el tamaño de las fotos del carrusel */
.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: contain;

}

.carrusel div {
    height: 100%;
    width: 100%;
}

/* Proporciones de la imagen del carrusel */
.centrar {
    margin: auto;
    margin-top: 4.5rem;
    display: block;
}

.seccion1 {
    grid-area: seccion1;
}

.img-dulces {
    grid-area: img-dulces;
}

/* Define el tamaño de las fotos en cada sección */
.img-secciones img {
    width: 85%;
    height: 95%;
    object-fit: contain;
    /* transition: transform 0.5s; */
}

.img-secciones img:hover {
    filter: opacity(.5);
}

/* .img-secciones img:hover {
    box-shadow: 0px 10px 15px 5px rgba(182, 182, 182, 1.5);
    transform: translateY(-10px);
    border-radius: 15px;
    background-color: white;
 }  */

.seccion2 {
    grid-area: seccion2;
}

.img-salados {
    grid-area: img-salados;
}

.seccion3 {
    grid-area: seccion3;
}

.img-boxes {
    grid-area: img-boxes;
}

/* Estilo a cada título de las secciones */
.titulo h1 {
    text-align: justify;
    margin-left: 1.5rem;
    margin-top: 8rem;
    letter-spacing: 1px;
    font-family: "louis_george_caf";
    color: rgba(0, 0, 0, 0.7);
    font-size: 2rem;
}

/* Estilo al texto de cada sección */
.texto-secciones p {
    text-align: justify;
    margin-left: 3rem;
    margin-top: 1rem;
    line-height: 2.5rem;
    font-family: "louis_george_caf_Light";
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: rgb(7, 7, 7);
}

/* Estilo a título de contacto y redes */
.titulo h2 {
    display: inline;
    letter-spacing: 1px;
    font-family: "louis_george_caf";
    font-size: 2rem;
    margin: 1rem;
    color: rgba(0, 0, 0, 0.7);
}

.fa-envelope {
    color: rgba(0, 0, 0, 0.7);
} 

a:hover {
    color: rgb(255, 149, 167);
}

/* formulario */

/* .form-label {
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-family: "louis_george_caf";
}

.btn {
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-family: "louis_george_caf";
} */

/* color del boton formulario */
/* #botonEnvio {
    color: white;
    background-color: rgb(121, 7, 121);
    border-radius: 20%;
}

#botonEnvio:hover {
    color: black;
    background-color: rgb(255, 149, 167);
} */

/* Color del borde casilla formulario */
/* .form-control:focus {
    border-color: rgb(121, 7, 121);
    box-shadow: none;
} */
/* @import url(https://fonts.googleapis.com/css?family=Lato:100,300,400); */

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: rgb(121, 7, 121);
    font-size: 0.875em;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: #bbb5af;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: rgb(121, 7, 121);
    font-size: 0.875em;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: #bbb5af;
}

input::placeholder,
textarea::placeholder {
    color: rgb(121, 7, 121);
    font-size: 0.875em;
}

input:focus::placeholder,
textarea:focus:placeholder {
    color: #bbb5af;
}

input::-ms-placeholder,
textarea::-ms-placeholder {
    color: rgb(121, 7, 121);
    font-size: 0.875em;
}

input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
    color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
    color: #cbc6c1;
}

input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}

input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder {
    color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
    color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}

input:hover:focus::-ms-placeholder,
textarea:hover:focus:-ms-placeholder {
    color: #cbc6c1;
}

/* body {
  font-family: "louis_george_caf";
  background: #e2dedb;
  color: #b3aca7;
  font-size: 1.5rem;
  letter-spacing: 1px;
} */


#form {
    position: relative;
    width: 500px;
    margin: 50px auto 100px auto;
}

input {
    font-family: "louis_george_caf";
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;

    background: transparent;
    outline: none;
    color: rgb(255, 232, 236);
    font-size: 1.5rem;
    letter-spacing: 1px;

    border: solid 1px rgb(121, 7, 121);
    border-bottom: none;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

input:hover {
    background: rgb(255, 232, 236);
    color: #e2dedb;
}

textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;

    background: transparent;
    outline: none;

    color: rgb(255, 232, 236);
    font-family: "louis_george_caf";
    /* font-size: 0.875em; */
    font-size: 1.5rem;
    letter-spacing: 1px;

    border: solid 1px rgb(121, 7, 121);

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
    background: rgb(255, 232, 236);
    color: #e2dedb;
}

#submit {
    width: 502px;

    padding: 0;
    margin: -5px 0px 0px 0px;

    font-family: "louis_george_caf";
    font-size: 0.875em;
    color: rgb(121, 7, 121);
    font-size: 1.5rem;
    letter-spacing: 1px;

    outline: none;
    cursor: pointer;

    border: solid 1px rgb(121, 7, 121);
    border-top: none;
}

#submit:hover {
    color: #e2dedb;
}

textarea {
    resize: none;
}

/* carrusel */

@keyframes display {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }

    10% {
        transform: translateX(0);
        opacity: 1;
    }

    20% {
        transform: translateX(0);
        opacity: 1;
    }

    30% {
        transform: translateX(-200px);
        opacity: 0;
    }

    100% {
        transform: translateX(-200px);
        opacity: 0;
    }
}

.pic-ctn {
    position: relative;
    width: 60vw;
    height: 40vh;
    margin-top: 4vh;
}

.pic-ctn>img {
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    opacity: 0;
    animation: display 10s infinite;
}

img:nth-child(2) {
    animation-delay: 2s;
}

img:nth-child(3) {
    animation-delay: 4s;
}

img:nth-child(4) {
    animation-delay: 6s;
}

img:nth-child(5) {
    animation-delay: 8s;
}

/* Botón flotante */

.btn-flotante {
    font-size: 13px;
    /* Cambiar el tamaño de la tipografia */
    text-transform: uppercase;
    /* Texto en mayusculas */
    font-weight: bold;
    /* Fuente en negrita o bold */
    color: #ffffff;
    /* Color del texto */
    border-radius: 5px;
    /* Borde del boton */
    letter-spacing: 2px;
    /* Espacio entre letras */
    background-color:  rgba(0, 0, 0, 0.7);
    /* Color de fondo */
    padding: 18px 30px;
    /* Relleno del boton */
    position: fixed;
    bottom: 25px;
    right: 30px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
    font-family: "louis_george_caf";
}

.btn-flotante:hover {
    background-color: rgba(255, 149, 167,0.7);
    /* Color de fondo al pasar el cursor */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
    color: rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 600px) {
    .btn-flotante {
        font-size: 14px;
        padding: 12px 20px;
        bottom: 20px;
        right: 20px;
    }
}